<link rel="stylesheet" href="css/style.css">


<div class="container">
<h1>Edit Blogs</h1>
        <form class="" action="/blogs/{{blog.id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title" name="title"  value="{{blog.title}}">
            </div>
            
            
            <div class="form-group">
                <label for="description">Description</label>
                <textarea  class="form-control" id="description" rows="5" name="description">{{blog.description}} </textarea>
            </div>
        
            <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
